---
layout: page
title: "About"
description: "我没想赢 但我不想输"
header-img: "http://ww1.sinaimg.cn/large/006y7E7Sly1g8k0pggu99j31gs0o60vn.jpg"
multilingual: true
sidebar: true
sidebar-avatar: /img/icon_wechat.jpg
---

{% include multilingual-sel.html %}

<!-- Chinese Version -->
<div class="zh post-container">
    {% capture about_zh %}{% include about/zh.md %}{% endcapture %}
    {{ about_zh | markdownify }}
</div>

<!-- English Version -->
<div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div>



