<script type="text/javascript">
    
    window.onload = function() {
      var el = document.getElementById('fuck');
      var child = el.getElementsByTagName('p');
      // 思考，为什么ByClassName的时候无法获取到相应元素的子元素呢？
      // 为何ID就可以呢？
      var i = 0;
      while(child.length>0){
         el.removeChild(child[i]);
      }
      var txt = document.createElement("p");
      var txt1 = "托微风和黎明<p></p>替我捎上一句晚安<p></p>转交给你";
      var txt2 = "努力的意义，<p></p>就是以后的日子里 放眼望去，<p></p>全部都是自己喜欢的人和事。";
      var txt3 = "愿意探索不同的视角，<p></p>始终追逐幸福、美好和爱。";
      var txt4 = "如果愿意对一切致以爱意，<p></p>那么冷风也和顺，<p></p>冬天也会有暖阳。";
      var txt5 = "<p>生活永远不会圆满的，</p><p>但是，</p><p>曾拥有过圆满，</p><p>有过，<p></p>不就足够了吗?</p>";
      var txt6 = "在第一千个选择之外，<p></p>还有第一千零一个可能，<p></p>有一扇窗等着我打开，<p></p>然后有光透进来。"
      var txt7 = "每个人的生命中，<p></p>都有最艰难的那一年，<p></p>将人生变得美好而辽阔。"
      var txt8 = "燕雀戏藩柴，<p></p>安识鸿鹄游。"
      var txt9 = "无论最终结果将历史导向何处，<p></p>我们选择希望。"
      var txt10 = "勇敢的人，<p></p>不是不落泪的人，<p></p>而是愿意含着泪继续奔跑的人。"
      var txt11 = "孤独之前是迷茫，<p></p>孤独之后便是成长。"
      var txt12 = "歌、电影、书、心情，<p></p>这四个东西是不容易分享的，<p></p>是如人饮水的东西。"
      var txt13 = "虽然只身在沧海一粟，希望你也知道，<p></p>努力向前奔跑，星辰皆在身后同行。"
      var txt14 = "桃红李白<p></p>漫山花开<p></p>愿今夜梦里有你来"
      var saying = [txt1,txt2,txt3,txt4,txt5,txt6,txt7,txt8,txt9,txt10,txt11,txt12,txt13,txt14];
      var x = Math.floor(Math.random()*14);
      txt.innerHTML=saying[x];
      el.appendChild(txt);
    }
</script>
<section class="visible-md visible-lg">
  <hr>
  <h5><a href="{{'/about/' | prepend: site.baseurl }}">ABOUT ME</a></h5>
  <div class="short-about" id="fuck">
    {% if site.sidebar-avatar %}
    <img src="{{site.sidebar-avatar}}" />
    {% endif %}
    {% if site.sidebar-about-description %}
    <p>{{site.sidebar-about-description}}</p>
    {% endif %}
    <!-- SNS Link -->
    {% include sns-links.html %}
  </div>
</section>
